---
import {Image} from 'astro:assets';
import {formatDateLong} from '@utils/utils';
import linkifyHtml from 'linkify-html';
const {micro, avatar, singlePage} = Astro.props;
---
<div class="micro">
    <div class="name">
        <Image src={avatar} alt="A cartoony image of me looking at my phone" class="avatar" />
        Aaron Morey (aaronmorey.com)
        {
            singlePage
                ? <span class="timestamp">{ formatDateLong(micro.data.date) }</span>
                : <a class="timestamp" href={`/micros/${micro.data.id}`}><span class="timestamp">{ formatDateLong(micro.data.date) }</span></a>
        }
    </div>
    <div class="content">
        { <Fragment set:html={linkifyHtml(micro.data.body)} /> }
    </div>
    <div class="reacts">
        <span><i class="fa-regular fa-comment"></i></span>
        <span><i class="fa-regular fa-heart"></i></span>
        <span><i class="fa-solid fa-retweet"></i></span>
    </div>
</div>

<style>
    div.micro {
        padding: 10px;
        margin: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;
        filter: drop-shadow(3px 3px 3px #eee);
    }

    div.micro span.timestamp {
        font-size: smaller;
        color: #888;
        font-weight: 400;
        padding-left: 5px;
        line-height: 2.5em;
    }

    div.micro div.name {
        font-weight: 600;
        /*vertical-align: top;*/
    }

    div.micro div.content {
        font-size: .95rem;
    }

    div.micro div.reacts {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
    }

    div.micro div.reacts span {
        color: #ccc;
        flex: 1;
        text-align: center;
    }

    div.micro div.reacts span .fa-comment:hover {
        color: #A5AAF0;
        border: none;
        font-style: normal;
    }

    div.micro div.reacts span .fa-heart:hover {
        color: #F2AF91;
        border: none;
        font-style: normal;
    }

    div.micro div.reacts span .fa-retweet:hover {
        color: #84F54E;
        border: none;
        font-style: normal;
    }

    div.micro div.name img.avatar {
        height: 3em;
        width: 3em;
        vertical-align: text-bottom;
    }

    a.timestamp:hover {
        filter: none;
        text-decoration: underline;
        border: none;
        font-style: normal;
    }
</style>