---
import BaseLayout from '../../layouts/BaseLayout.astro';
import {getCollection} from "astro:content";
import { slugify } from "@utils/utils.js";
const pageTitle = "Tag Index";
const allPosts = await getCollection('blog');
let tagDict = new Map<string, string>();

allPosts.forEach(post => {
    if (post.data.tags) {
        post.data.tags.forEach(tag => {
            if (!tagDict[tag]) {
                tagDict[tag] = 1;
            } else {
                tagDict[tag] += 1;
            }
        });
    }
})

let sortedTags = Object.keys(tagDict).sort();
---
<BaseLayout pageTitle={pageTitle}>
    <div class="tag-table">
        {sortedTags.map((tag) => (
            <div class="tag-table-row">
                <span class="tag-table-cell-left tag"><a href={`/tags/${slugify(tag)}/`}>{tag}</a></span>
                <span class="tag-table-cell-middle"></span>
                <span class="tag-table-cell-right">{tagDict[tag]}</span>
            </div>
        ))}
    </div>
</BaseLayout>
<style>

    div.tag-table {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    div.tag-table-row {
        display: flex;
        flex-direction: row;
        line-height: 1.5em;
        background-color: var(--glassy-background-opaquer);
    }

    span.tag-table-cell-left {
        width: auto;
        padding: 5px;
        border-radius: 5px;
    }

    span.tag-table-cell-middle {
        width: auto;
        border-bottom: 1px dotted black;
        flex-grow: 3;
    }
    span.tag-table-cell-right {
      margin-left: 10px;
    }


</style>