---
import type { ImageMetadata } from 'astro';
import {getCollection} from "astro:content";
import BaseLayout from '@layouts/BaseLayout.astro';
import BookEntry from "@components/Reading/BookEntry.astro";
import { getBooksFromSqlite } from '@utils/utils';
import { Book } from '@schemas/book';

let books:Array<Book> = getBooksFromSqlite();
const pageTitle = "Reading";
const allPosts = await getCollection("blog");
let allTags = allPosts.map((post) => post.data.tags).flat();
let uniqueTagsForAuthorMatch = [... new Set(allTags)].filter(tag => tag !== null)
    .map((tag :string) => tag.toLowerCase().replaceAll(" ", ""));

let yearCounts:{[id:string]: number} = {};

books.forEach(b => {
    const bookYear = new Date(Date.parse(b.date_read)).getFullYear().toString();
    if (!yearCounts[bookYear]) {
        yearCounts[bookYear] = 1;
    } else {
        yearCounts[bookYear] = yearCounts[bookYear] + 1;
    }
})

const coverImages = import.meta.glob<{ default: ImageMetadata }>('../assets/images/covers/*.jpg');
---
<BaseLayout pageTitle={pageTitle}>
    <p>My reading list, as exported from GoodReads.</p>
    <p>Images come from <a href="https://openlibrary.org/dev/docs/api/covers">The OpenLibrary Books API</a></p>

    <div class="books-container">
    {
        books.map(function (book: Book, i: number, allBooks: Array) {
            const previousYearRead = i > 0
                ? new Date(Date.parse(allBooks[i-1].date_read)).getFullYear()
                : 0;
            return (
                <BookEntry
                    book={book}
                    key={i}
                    uniqueTags={uniqueTagsForAuthorMatch}
                    coverImages={coverImages}
                    previousBook={books[i-1]}
                    previousYearRead={previousYearRead}
                    yearCounts={yearCounts}
                />
            )
        })
    }
    </div>
    <p class="italic">Linked books are Bookshop.org affiliate links, for which I get a percentage if you make a purchase. Be a spendthrift,
        it goes to a good cause. (I always think "spendthrift" means the opposite of what it actually does — it
        means "spend freely".)</p>
</BaseLayout>
