---
import AnchoredHeader from "@components/AnchoredHeader.astro";
const title = "Cardinals Win Tracker - 2026";
import BaseLayout from "@layouts/BaseLayout.astro";
import StatsContainer from "@components/Stats/StatsContainer.astro";
import StatsOverviewIndividual from "@components/Stats/StatsOverviewIndividual.astro";

/* Inputs */
const WINS = 29;
const LOSSES = 21;
const RS = 226;
const RA = 225;

/* Constants */
const GAMES_IN_SEASON = 162;
const PYTHAG_EXPONENT = 1.81;
const PECOTA = 66;
const VEGAS = 69.5;
const ZIPS = 76;
const ME = 77;
const FIVE_HUNDRED = 81;

/* Types */
type WinningPercentageToExceedResult = {
    winsRemaining: number;
    winPercentToExceed: number;
};

type WinsAssumingTrueTalentResult = {
    restOfSeasonWins: number;
    totalWins: number
};

/* Formulas */
function winningPercentageToExceed(totalToExceed: number): WinningPercentageToExceedResult {
    let winsRemaining = Math.floor(totalToExceed) + 1 - WINS;
    let winPercentToExceed = winsRemaining / (GAMES_IN_SEASON - WINS - LOSSES);
    return {
        winsRemaining: winsRemaining,
        winPercentToExceed: winPercentToExceed
    };
}

function winsAssumingTrueTalent(trueTalentWins: number): WinsAssumingTrueTalentResult {
    let trueTalentWinPercent = trueTalentWins / GAMES_IN_SEASON;
    let restOfSeasonWins = (162 - WINS - LOSSES) * trueTalentWinPercent;
    let totalWins = restOfSeasonWins + WINS;
    return {
        restOfSeasonWins: restOfSeasonWins,
        totalWins: totalWins
    };
}

function pythagWinningPercentage(runsScored: number, runsAllowed: number, exponent: number = 2): number {
    return 1 / (1 + Math.pow(runsScored / runsAllowed, exponent));
}

function formatToOnePlace(value: number) {
    return value.toFixed(1);
}

function formatToThreePlaces(value: number) {
    return value.toFixed(3);
}

/* Current */
let currentPaceWins = (WINS / (WINS + LOSSES)) * GAMES_IN_SEASON;
let currentPaceWinsFormatted = currentPaceWins.toFixed(1);

/* To Exceed the Projection */
const toExceedPecota = winningPercentageToExceed(PECOTA);
const toExceedVegas = winningPercentageToExceed(VEGAS);
const toExceedZips = winningPercentageToExceed(ZIPS);
const toExceedMe = winningPercentageToExceed(ME);
const toExceed500 = winningPercentageToExceed(FIVE_HUNDRED);

/* Rest of Season Assumptions */
const pecotaRos = winsAssumingTrueTalent(PECOTA);
const vegasRos = winsAssumingTrueTalent(VEGAS);
const zipsRos = winsAssumingTrueTalent(ZIPS);
const meRos = winsAssumingTrueTalent(ME);
const fiveHundredRos = winsAssumingTrueTalent(FIVE_HUNDRED);
const paceRos = winsAssumingTrueTalent((currentPaceWins));
const pythagWinPct = pythagWinningPercentage(RA, RS, PYTHAG_EXPONENT);
const pythagWinsCurrent = pythagWinPct * (WINS + LOSSES);
const pythagProjectedWins = pythagWinPct * GAMES_IN_SEASON;
const pythagProjectedWinsFormatted = pythagProjectedWins.toFixed(1);
const pythagRos = winsAssumingTrueTalent(pythagWinPct * GAMES_IN_SEASON);
---
<BaseLayout pageTitle={title}>
    <AnchoredHeader hLevel="2" text="Actual Record" />
    <StatsContainer>
        <StatsOverviewIndividual title="Wins" value={`${WINS}`} backgroundColor="var(--cardinal-red)" />
        <StatsOverviewIndividual title="Losses" value={`${LOSSES}`} backgroundColor="var(--darkest-blue)" />
        <StatsOverviewIndividual
            title="Win %"
            value={(WINS / (WINS + LOSSES))}
            backgroundColor="var(--darker-green)"
            formatter={formatToThreePlaces}
        />
        <StatsOverviewIndividual title="Runs Scored" value={`${RS}`} backgroundColor="var(--brightest-yellow)" />
        <StatsOverviewIndividual title="Runs Allowed" value={`${RA}`} backgroundColor="var(--lighter-font-color)" />
        <StatsOverviewIndividual
            title="Pythag Wins"
            value={pythagWinsCurrent}
            backgroundColor="var(--medium-blue)"
            formatter={formatToOnePlace}
        />
    </StatsContainer>
    <AnchoredHeader hLevel="2" text="Wins Required to Beat Projections" />
    <table>
        <thead style="background-color: var(--cardinal-red);">
            <tr>
                <td>Projection</td>
                <td>Projected Wins</td>
                <td>Wins To Beat Projection</td>
                <td>Winning %</td>
            </tr>
        </thead>
        <tr>
            <td>PECOTA</td>
            <td>{PECOTA}</td>
            <td>{toExceedPecota.winsRemaining}</td>
            <td>{toExceedPecota.winPercentToExceed.toFixed(3)}</td>
        </tr>
        <tr>
            <td>Vegas</td>
            <td>{VEGAS}</td>
            <td>{toExceedVegas.winsRemaining}</td>
            <td>{toExceedVegas.winPercentToExceed.toFixed(3)}</td>
        </tr>
        <tr>
            <td>ZiPS</td>
            <td>{ZIPS}</td>
            <td>{toExceedZips.winsRemaining}</td>
            <td>{toExceedZips.winPercentToExceed.toFixed(3)}</td>
        </tr>
        <tr>
            <td>Me</td>
            <td>{ME}</td>
            <td>{toExceedMe.winsRemaining}</td>
            <td>{toExceedMe.winPercentToExceed.toFixed(3)}</td>
        </tr>
        <tr>
            <td>.500</td>
            <td>{FIVE_HUNDRED}</td>
            <td>{toExceed500.winsRemaining}</td>
            <td>{toExceed500.winPercentToExceed.toFixed(3)}</td>
        </tr>
    </table>
    <details>
        <summary><i class="fa-solid fa-circle-question"></i></summary>
        <div>
            This table contains the pre-season projections for Cardinals wins from various sources.
            This is compared to the number of wins needed to exceed that projection given the team's
            current record, and the winning percentage that would require.
        </div>
    </details>

    <AnchoredHeader hLevel="2" text="Wins Assuming True Talent" />
    <table>
        <thead style="background-color: var(--cardinal-red);">
            <tr>
                <td>True Talent</td>
                <td>Rest of Season Wins</td>
                <td>Total Wins</td>
            </tr>
        </thead>
        <tr>
            <td>PECOTA ({PECOTA})</td>
            <td>{pecotaRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{pecotaRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>Vegas ({VEGAS})</td>
            <td>{vegasRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{vegasRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>ZiPS ({ZIPS})</td>
            <td>{zipsRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{zipsRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>Me ({ME})</td>
            <td>{meRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{meRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>.500 ({FIVE_HUNDRED})</td>
            <td>{fiveHundredRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{fiveHundredRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>Current Pace ({currentPaceWinsFormatted})</td>
            <td>{paceRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{paceRos.totalWins.toFixed(1)}</td>
        </tr>
        <tr>
            <td>Pythag ({pythagProjectedWinsFormatted})</td>
            <td>{pythagRos.restOfSeasonWins.toFixed(1)}</td>
            <td>{pythagRos.totalWins.toFixed(1)}</td>
        </tr>
    </table>
    <details>
        <summary><i class="fa-solid fa-circle-question"></i></summary>
        <div>
            This table calculates the number of wins the Cardinals would reach if they
            played the rest of the season at the "true talent" winning percentage assumed by the given
            projection. That number is added to the number of wins they have "banked" up to this point.
        </div>
    </details>

    <h2>Sources</h2>
    <ul>
        <li>
            <a href="https://blogs.fangraphs.com/the-official-and-hopefully-not-too-erroneous-2026-zips-projected-standings/">
                2026 Team ZiPS
            </a>
        </li>
        <li>
            <a href="https://sports.yahoo.com/articles/mlb-projected-win-totals-over-144600071.html">
                2026 Vegas Over/Under
            </a>
        </li>
        <li>
            <a href="https://www.stlsportscentral.com/2026/02/12/the-bernie-show-2-12-26">
                2026 PECOTA
            </a>
        </li>
    </ul>

    <i class="fa-brands fa-github"></i>
    <a href="https://github.com/aaronmfmorey/dotcom_astro/blob/main/src/pages/etc/CardinalTracker2026.astro">
        See the source code on Github.
    </a>
    <br />
    &nbsp;
</BaseLayout>
