---
import AnchoredHeader from "@components/AnchoredHeader.astro";
const title = "Cardinals Win Tracker - 2026";
import BaseLayout from "@layouts/BaseLayout.astro";

const WINS = 24;
const LOSSES = 17;
const RS = 192;
const RA = 187;

const GAMES_IN_SEASON = 162;
const PYTHAG_EXPONENT = 1.83;
const PECOTA = 66;
const VEGAS = 69.5;
const ZIPS = 76;
const ME = 77;
const FIVE_HUNDRED = 81;

let currentPaceWins = (WINS / (WINS + LOSSES)) * GAMES_IN_SEASON;
function formatToThreeSigFigs(decimal: number) {
    return new Intl.NumberFormat(
        "en-US",
        { maximumSignificantDigits: 3 }
    ).format(decimal);
}
let currentPaceWinsFormatted = formatToThreeSigFigs(currentPaceWins)

function winningPercentageToExceed(totalToExceed: number) {
    let winsRemaining = Math.ceil(totalToExceed + 1 - WINS);
    let winPercentToExceed = winsRemaining / (GAMES_IN_SEASON - WINS - LOSSES);
    return {
        winsRemaining: winsRemaining,
        winPercentToExceed: formatToThreeSigFigs(winPercentToExceed)
    };
}

const toExceedPecota = winningPercentageToExceed(PECOTA);
const toExceedVegas = winningPercentageToExceed(VEGAS);
const toExceedZips = winningPercentageToExceed(ZIPS);
const toExceedMe = winningPercentageToExceed(ME);
const toExceed500 = winningPercentageToExceed(FIVE_HUNDRED);

function winsAssumingTrueTalent(trueTalentWins: number) {
    let trueTalentWinPercent = trueTalentWins / GAMES_IN_SEASON;
    let restOfSeasonWins = (162 - WINS - LOSSES) * trueTalentWinPercent;
    let totalWins = restOfSeasonWins + WINS;
    return {
        restOfSeasonWins: formatToThreeSigFigs(restOfSeasonWins),
        totalWins:formatToThreeSigFigs(totalWins)
    };
}

const pecotaRos = winsAssumingTrueTalent(PECOTA);
const vegasRos = winsAssumingTrueTalent(VEGAS);
const zipsRos = winsAssumingTrueTalent(ZIPS);
const meRos = winsAssumingTrueTalent(ME);
const fiveHundredRos = winsAssumingTrueTalent(FIVE_HUNDRED);
const paceRos = winsAssumingTrueTalent((currentPaceWins));
const pythagWinPct = (Math.pow(RS, PYTHAG_EXPONENT)) / (Math.pow(RS, PYTHAG_EXPONENT) + Math.pow(RA, PYTHAG_EXPONENT));
const pythagProjectedWins = pythagWinPct * GAMES_IN_SEASON;
const pythagProjectedWinsFormatted = formatToThreeSigFigs(pythagProjectedWins);
const pythagRos = winsAssumingTrueTalent(pythagWinPct * GAMES_IN_SEASON);

---
<BaseLayout pageTitle={title}>

<AnchoredHeader hLevel="2" text="Wins Required to Beat Projections" />
    <table>
        <thead>
            <tr>
                <td></td>
                <td>PECOTA</td>
                <td>Vegas</td>
                <td>ZiPS</td>
                <td>Me</td>
                <td>.500</td>
            </tr>
        </thead>
        <tr>
            <td>Projection</td>
            <td>{PECOTA}</td>
            <td>{VEGAS}</td>
            <td>{ZIPS}</td>
            <td>{ME}</td>
            <td>{FIVE_HUNDRED}</td>
        </tr>
        <tr>
            <td>Wins To Beat Projection</td>
            <td>{toExceedPecota.winsRemaining}</td>
            <td>{toExceedVegas.winsRemaining}</td>
            <td>{toExceedZips.winsRemaining}</td>
            <td>{toExceedMe.winsRemaining}</td>
            <td>{toExceed500.winsRemaining}</td>
        </tr>
        <tr>
            <td>Winning % To Beat</td>
            <td>{toExceedPecota.winPercentToExceed}</td>
            <td>{toExceedVegas.winPercentToExceed}</td>
            <td>{toExceedZips.winPercentToExceed}</td>
            <td>{toExceedMe.winPercentToExceed}</td>
            <td>{toExceed500.winPercentToExceed}</td>
        </tr>
    </table>
    <details>
        <summary><i class="fa-solid fa-circle-question"></i></summary>
        <div>
            This table contains the pre-season projections for Cardinals wins from various sources.
            This is compared to the number of wins needed to exceed that projection given the team's
            current record, and the winning percentage that would require.
        </div>
    </details>

    <AnchoredHeader hLevel="2" text="Wins Assuming True Talent" />
    <table>
        <thead>
            <tr>
                <td>"True" Talent Wins</td>
                <td>Rest of Season Wins</td>
                <td>Total Wins</td>
            </tr>
        </thead>
        <tr>
            <td>PECOTA ({PECOTA})</td>
            <td>{pecotaRos.restOfSeasonWins}</td>
            <td>{pecotaRos.totalWins}</td>
        </tr>
        <tr>
            <td>Vegas ({VEGAS})</td>
            <td>{vegasRos.restOfSeasonWins}</td>
            <td>{vegasRos.totalWins}</td>
        </tr>
        <tr>
            <td>ZiPS ({ZIPS})</td>
            <td>{zipsRos.restOfSeasonWins}</td>
            <td>{zipsRos.totalWins}</td>
        </tr>
        <tr>
            <td>Me ({ME})</td>
            <td>{meRos.restOfSeasonWins}</td>
            <td>{meRos.totalWins}</td>
        </tr>
        <tr>
            <td>.500 ({FIVE_HUNDRED})</td>
            <td>{fiveHundredRos.restOfSeasonWins}</td>
            <td>{fiveHundredRos.totalWins}</td>
        </tr>
        <tr>
            <td>Current Pace ({currentPaceWinsFormatted})</td>
            <td>{paceRos.restOfSeasonWins}</td>
            <td>{paceRos.totalWins}</td>
        </tr>
        <tr>
            <td>Pythag ({pythagProjectedWinsFormatted})</td>
            <td>{pythagRos.restOfSeasonWins}</td>
            <td>{pythagRos.totalWins}</td>
        </tr>
    </table>
    <details>
        <summary><i class="fa-solid fa-circle-question"></i></summary>
        <p>
            This table calculates the number of wins the Cardinals would reach if they
            played the rest of the season at the "true talent" winning percentage assumed by the given
            projection. That number is added to the number of wins they have "banked" up to this point.
        </p>
    </details>

    <h2>Sources</h2>
    <ul>
        <li>
            <a href="https://blogs.fangraphs.com/the-official-and-hopefully-not-too-erroneous-2026-zips-projected-standings/">
                2026 Team ZiPS
            </a>
        </li>
    </ul>

    <i class="fa-brands fa-github"></i>
    <a href="https://github.com/aaronmfmorey/dotcom_astro/blob/main/src/pages/etc/CardinalTracker2026.astro">
        See the source code on Github.
    </a>
    <br />
    &nbsp;
</BaseLayout>
