---
import {Image} from 'astro:assets';
import {getFontAwesomePathAsKey} from '@utils/utils.ts';
import type {ImageMetadata} from "astro";
import linkCollection from '@contentsubmodule/data/aboutlinks.json';
const images = import.meta.glob<{default: ImageMetadata}>("@fontawesomesubmodule/svgs/**/*.svg");
---
<h2>Find Me At</h2>
<div class="table m-5">
    {
        linkCollection.map(function(item, index) {
            return (
                <div class="table-row text-[1.25em]">
                    <span class="leading-[1.5] table-cell">
                        <Image src={images[getFontAwesomePathAsKey(item.icon)]()} class="about-links-icon" alt={item.icon}/>
                        <a href={item.url}>{item.title}</a>
                    </span>
                </div>
            )
        })
    }
</div>

<style>
    .about-links-icon {
        max-width: 1.25em;
        max-height: 1em;
        display: inline-block;
        vertical-align: text-top;
        padding-right: 5px;
    }
</style>