---
import GithubSlugger from 'github-slugger';
const {hLevel, text, cssClass} = Astro.props;
const slugger = new GithubSlugger()
let slug = slugger.slug(text);
if (slug.startsWith("-")) {
    slug = slug.slice(1, slug.length);
}
if (slug.endsWith("-")) {
    slug = slug.slice(0, slug.length-1);
}

const tagName = `h${hLevel}`;
---
<Fragment set:html={`<${tagName} id="${slug}" class="${cssClass}">`}/>
    {text}<a class="anchor-link" href={`#${slug}`}>§</a>
<Fragment set:html={`</${tagName}>`}/>
