---
import PostTagList from "./PostTagList.astro";
const {post, frontmatter} = Astro.props;
import { createExcerpt } from '../utils/create-excerpt.ts';
import PostByline from "@components/PostByline.astro";
const excerpt = createExcerpt(post.rendered.html);
---
<div class="rounded-md border-2 border-gray-300 bg-white p-3 m-5">
    <h2><a href=`/posts/${post.id}`>{frontmatter.title}</a></h2>
    <PostTagList tags={frontmatter.tags} />
    <PostByline frontmatter={frontmatter} />
    <div>{excerpt}</div>
</div>
