---
const {book} = Astro.props;
import BookStars from "@components/BookStars.astro";
import {formatDateLong} from '@utils/utils.ts';
---
<div class="rounded-md border-2 border-gray-300 bg-white p-3 m-5">
    <h3>
        <a href=``><span class="italic">{book.title}</span></a>
        - {book.author}
    </h3>
    <div>
        Finished: {formatDateLong(book.date_read)}
    </div>
    {
        !!book.my_rating && book.my_rating != 0 ?
            <BookStars rating={book.my_rating} /> :
            ""
    }
    {JSON.stringify(book, null, 2)}
</div>
