---
import {Image} from "astro:assets";
import BookStars from "@components/Reading/BookStars.astro";
import {formatDateLong, slugify} from '../../utils/utils.ts';
import linkifyHtml from 'linkify-html';
import {bookshopAffiliateUrl} from "../../utils/utils";
import ReviewDialog from "@components/Reading/ReviewDialog.astro";

const {book, uniqueTags, coverImages, previousYearRead} = Astro.props;
const authorMatchesTag = function(authorName :string) {
    return uniqueTags.includes(slugify(authorName));
};

const coverImageExists = function(isbn: string): boolean {
    return (
        Object.keys(coverImages).includes("../assets/images/covers/" + isbn + ".jpg")
    );
}

const formatPublicationYear = function(year :string) {
    if (!year) {
        return "";
    } else {
        const iYear:number = parseInt(year);
        if (iYear < 0) {
            return Math.abs(iYear) + " BC";
        } else {
            return iYear;
        }
    }
}

const yearRead = new Date(Date.parse(book.date_read)).getFullYear();

const bookshopSlug = book.bookshop_slug ?? book.isbn13;

const imagePath:string = `../assets/images/covers/${book.isbn}.jpg`;
---
    {
        // Make YearRead hang out at the top untli the next comes along?
        yearRead !== previousYearRead
        ? <h2 class="bg-[#FFCC66] drop-shadow-md z-1 p-2 pt-[1rem] w-16 text-center">{yearRead}</h2>
        :""
    }
<div>
    <div class="flex flex-row flex-wrap w-full rounded-md drop-shadow-sm bg-white my-5 p-2 items-stretch">
        {
            coverImageExists(book.isbn)
                ?  <div class="book-cover-container">
                        <Image class="h-full object-contain" src={coverImages[imagePath]()} alt=`Cover image for ${book.title} - /assets/images/covers/${book.isbn}.jpg` />
                    </div>
                : ""
        }
        <div style="width: 66%;">
            <h3 class="book-title">
                <span class="italic">{book.title}</span> -
                {formatPublicationYear(book.original_publication_year)}
                {
                    1 == book.no_bookshop ?
                        "":
                        <Fragment set:html={bookshopAffiliateUrl(bookshopSlug)} />
                }
            </h3>
            <h4>
                {
                    authorMatchesTag(book.author)
                        ? <a href=`/tags/${slugify(book.author)}/`>{book.author}</a>
                        : book.author
                }
            </h4>
            <div class="pb-5">
                <div>Read: {formatDateLong(book.date_read)}</div>
                {
                    !!book.my_rating && book.my_rating != 0 ?
                        <BookStars rating={book.my_rating} /> :
                        ""
                }
            </div>
            <!--{JSON.stringify(book, null, 2)}-->
            {
                !!book.my_review
                    ? <ReviewDialog reviewContents={linkifyHtml(book.my_review)} />
                    : ""
            }
        </div>
    </div>
</div>
<style>
    h2 {
        position: sticky;
        top: 0;
        margin: 0;
        font-size: 1.5em;
        width: 100%;
        padding: 5px;
    }

    div, h3 {
        hyphens: auto;
    }
</style>

<script>
    const openBtns = document.getElementsByClassName('open-button');
    const closeBtns = document.getElementsByClassName('close-button');
    Array.from(openBtns).forEach(btn => {
        btn.addEventListener('click', function() {
            let me = this;
            const dialog = me.previousElementSibling;
            if (dialog && dialog.tagName === 'DIALOG') {
                dialog.showModal();
            }
        });
    });

    Array.from(closeBtns).forEach(btn => {
        btn.addEventListener('click', function() {
            let me = this;
            const dialog = me.parentElement;
            dialog.close();
        });
    });
</script>