---
import {Image} from "astro:assets";
import BookStars from "@components/Reading/BookStars.astro";
import {formatDateLong, slugify, authorMatchesTag} from '@utils/utils.ts';
import linkifyHtml from 'linkify-html';
import {bookshopAffiliateUrl} from "@utils/utils";
import ReviewDialog from "@components/Reading/ReviewDialog.astro";
import CoverImageFlipper from "@components/Reading/CoverImageFlipper.astro";
import Divider from "@components/Divider.astro";

const {book, uniqueTags, coverImages, previousYearRead, yearCounts} = Astro.props;

const yearRead = new Date(Date.parse(book.date_read)).getFullYear();

const bookshopSlug = book.bookshop_slug ?? book.isbn13;


---
    {
        yearRead !== previousYearRead && yearRead !== (new Date()).getFullYear()
          ? <Divider dividerWidth="61.84%" />
          : ""
    }
    {
        yearRead !== previousYearRead
            ? <h2>{yearRead} ({yearCounts[yearRead]})</h2>
            :""
    }
<div class="book-entry-container">
    <div class="flex flex-row flex-wrap w-full items-stretch">
        <CoverImageFlipper book={book} coverImages={coverImages} />
        <div class="book-info-container">
            <h3 class="book-heading">
                <span>{book.title}</span>
                {
                    1 == book.no_bookshop ?
                        "":
                        <Fragment set:html={bookshopAffiliateUrl(bookshopSlug)} />
                }
            </h3>
            <div class="book-info">
                {
                    authorMatchesTag(book.author, uniqueTags)
                        ? <a href=`/tags/${slugify(book.author)}/`>{book.author}</a>
                        : book.author
                }
            </div>
            <div class="book-info">
                <div>Finished: {formatDateLong(book.date_read)}
                {
                    book.running_total && book.running_total > 1 ?
                        <span >(Re-read: {book.running_total})</span>
                        : ""
                }
                </div>
                {
                    !!book.my_rating && book.my_rating != 0 ?
                        <BookStars rating={book.my_rating} /> :
                        ""
                }
                {
                    !!book.my_review
                        ? <ReviewDialog reviewContents={linkifyHtml(book.my_review)} />
                        : ""
                }
            </div>
        </div>
    </div>
</div>

<style>
    @reference 'tailwindcss';
    .book-entry-container {
        margin-bottom: 10px;
        background-color: var(--nearly-white);
        border-radius: 10px;
        @apply drop-shadow;
        line-height: 1.5em;
    }

    h3.book-heading {
        font-size: calc(var(--font-size-h3) * .66);
        font-weight: 800;
    }

    .book-heading span {
        font-style: italic;
    }


    .book-info-container {
        flex: 3;
        padding: 5px;
    }

</style>