---
const {paginationList, currentPage, firstUrl, baseUrl} = Astro.props;
const formatBaseUrl = function(baseUrl:string, num:number) {
    return `${baseUrl}/${num}`;
}
const MIN_LIST_ITEMS = 3;
const SCALE_FACTOR = 2;
const MIN_FONT_SIZE_REM = .4;
const calculateLinkOffsetFontSize = function(i: number, currentPage: number) {
    return Math.max(
        MIN_FONT_SIZE_REM,
        1 + (MIN_LIST_ITEMS - (Math.abs(i - currentPage) * SCALE_FACTOR))/10)
}

let pages = [...paginationList];
let endReduced = false;
let startReduced = false;

// Only reduce the pagination if there are more than 10 pages
let totalPages = pages.length;
if (totalPages > 10) {
    let start = 1;
    let end = totalPages;

    if (currentPage > MIN_LIST_ITEMS + 1) {
        start = currentPage - MIN_LIST_ITEMS
        startReduced = true;
    }

    if (currentPage < totalPages - (MIN_LIST_ITEMS - 1)) {
        end = currentPage + MIN_LIST_ITEMS
        endReduced = true
    }

    pages = pages.slice(start - 1, end);
}
---
{
    startReduced ? <span class="pagination-link disabled"
                         style={`font-size: ${calculateLinkOffsetFontSize(1, currentPage)}rem`}>
                        ...
                    </span> : ""
}
{
    pages.map((num: number) => (
        currentPage == num
            ? (<span class="mx-2 rounded-full pagination-link" style={`font-size: 1.${MIN_LIST_ITEMS}rem;`}>{num}</span>)
            : (
                <a href={`${baseUrl}/${num}`}
                   style={`font-size: ${calculateLinkOffsetFontSize(num, currentPage)}rem`}
                   class={`pagination-link mx-1 ${currentPage == num ? "disabled active" : ""}`}>
                    {num}
                </a>
            )
    ))
}
{
    endReduced ? <span class="pagination-link disabled"
                       style={`font-size: ${calculateLinkOffsetFontSize(1, currentPage)}rem`}>
                    ...&nbsp;
                </span> : ""
}