---
import { renderMarkdown } from '@utils/utils.js';
import PostTagList from "@components/Blog/PostTagList.astro";
import PostByline from "@components/Blog/PostByline.astro";
import {humanReadableDate} from "@utils/utils";
import Divider from "@components/Divider.astro";
const {post, frontmatter, isLast = false} = Astro.props;
const detailUrl = `/posts/${post.id}/`;
const renderedDescription = await renderMarkdown(post.data.description);
console.log(post)
---
<div class="">
    <div class="blog-post-date">{humanReadableDate(frontmatter.pubDate.toString())}</div>
    <h2><a href={detailUrl}>{frontmatter.title}</a></h2>
    <PostByline
            frontmatter={frontmatter}
            post={post}
            showWordCount={true}
            showByline={false}
    />
    <PostTagList tags={frontmatter.tags} />
    {
        !!post.data.description && post.data.description !== post.data.title
            ? <div class="post-excerpt" set:html={renderedDescription} />
            : ""
    }
    <div class="separator" style="margin:1em;" />
    {
        !isLast
         ? <Divider dividerWidth="64%" /> : ""
    }
</div>

<style>
    .blog-post-date {
        font-size: var(--font-size-h6);
        margin: auto;
        text-align: center;
        color: var(--grey);
        font-style: oblique;
    }
</style>