---
import { render } from 'astro:content';
import { createExcerpt } from '@utils/create-excerpt.ts';
import { renderMarkdown } from '@utils/utils.js';
import PostTagList from "@components/Blog/PostTagList.astro";
import PostByline from "@components/Blog/PostByline.astro";
import {humanReadableDate} from "@utils/utils";
const {post, frontmatter} = Astro.props;
const detailUrl = `/posts/${post.id}/`;
const excerpt = createExcerpt(post.rendered.html, detailUrl);
const renderedDescription = await renderMarkdown(post.data.description);
---
<div class="">
    <div style="text-align: center; font-style: italic; color: var(--lighter-font-color)">{humanReadableDate(frontmatter.pubDate.toString())}</div>
    <h2><a href={detailUrl}>{frontmatter.title}</a></h2>
    <PostByline frontmatter={frontmatter} post={post} showWordCount={true} />
    <PostTagList tags={frontmatter.tags} />
    {
        !!post.data.description && post.data.description !== post.data.title
            ? <div class="post-excerpt" set:html={renderedDescription} />
            : ""
    }
    <p style="text-align: center; margin:1em; color:var(--lighter-font-color)">&#x26EC;</p>
</div>
