---
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCollection } from 'astro:content';
import {processSubheadLevels, sortPostsBySubheadAndDate} from '@utils/content_collections';

const { collection, pageTitle, introText, includeEntriesHeader = true } = Astro.props;
const allPosts = await getCollection(collection);
processSubheadLevels(allPosts);
const sortedPosts:Array = sortPostsBySubheadAndDate(allPosts);
---
<BaseLayout pageTitle={pageTitle}>
    <Fragment set:html={introText} />
    {
        includeEntriesHeader === true ?
            <h2>Entries</h2>
            : ""
    }
    {
        sortedPosts.map(function(post) {
            const linkFragment:Fragment = <li><a href={`${post.id}/`}>{post.data.title}</a></li>;
            if (post.indexHeading) {
                return <h3>{post.indexHeading}</h3><li><a href={`${post.id}/`}>{post.data.title}</a></li>;
            } else {
                return linkFragment;
            }
        })
    }
</BaseLayout>
