---
import BaseLayout from '@layouts/BaseLayout.astro';
import AnchoredHeader from '@components/AnchoredHeader.astro';
import { getCollection } from 'astro:content';
import {processSubheadLevels, sortPostsBySubheadAndDate} from '@utils/content_collections';

interface Props {
    collection: string,
    pageTitle: string,
    introText: string,
    includeEntriesHeader: boolean
}

const { collection, pageTitle, introText, includeEntriesHeader = true } = Astro.props;
const allPosts = await getCollection(collection);
processSubheadLevels(allPosts);
const sortedPosts: Array = sortPostsBySubheadAndDate(allPosts);
let previousPageTitle = null;
let headingLevel = includeEntriesHeader ? 3 : 2;
---
<BaseLayout pageTitle={pageTitle}>
    <Fragment set:html={introText} />
    {
        includeEntriesHeader === true ?
            <AnchoredHeader hLevel="2" text="Entries" />
            : ""
    }
    {
        sortedPosts.map(function(post) {
            const linkFragment:Fragment = <li><a href={`${post.id}/`}>{post.data.title}</a></li>;
            if (post.indexHeading && post.indexHeading !== previousPageTitle) {
                previousPageTitle = post.indexHeading;
                return <AnchoredHeader hLevel={headingLevel} text={post.indexHeading}></AnchoredHeader><li><a href={`${post.id}/`}>{post.data.title}</a></li>;
            } else {
                return linkFragment;
            }
        })
    }
</BaseLayout>
